.body{
font-family:arial;
}
.container{
   padding:16px;
   width:500px;
   margin:20px auto;
}

textarea-icon{
   text-align:center;
}

.input[type=text]:focus,
input[type=password]:focus{
}
.body{
padding:10px 40px;

}
.lablel-title {
  font-size:17px;
  padding:8px;
}



select
{
  border:1px solid #555;
  height:40px;
  width:200px;
  padding: 0 15px;
  margin-right:20px;
}

.button
{
   position:absolute;
   top:50%;
   color:#fff;
}